@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply to everything */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(194, 194, 194);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(181, 181, 181);
}

::-webkit-scrollbar {
    width: 6px;
}
